@charset "utf-8";
/* CSS Document */
.h1 {
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, sans-serif;
	text-align: center;
}

.color{ 
	background-color: lightcoral;	
	}

.nav{
	align-content: center;
	text-decoration-style: double;
	margin: 1em;
	
	
}

.profile{
	float: right;
	flex-wrap: wrap;
}

.meme{
	float:right;
}

li{
	font-style: oblique;
	font-size: 18px;
	text-decoration: none;
}
body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2%;
	padding-right: 2%;
}

